node_modules/**
dist/**
build/**
.next/**
out/**
coverage/**
.turbo/**
.parcel-cache/**
*.log
generated/**
.ponder/**
dump/**
storybook-static/**

packages/graphql-client/generated.ts
packages/graphql-client/types.ts

