services:
  gateway:
    image: kong:3.9
    ports:
      - "8000:8000" # Proxy HTTP
      - "8443:8443" # Proxy HTTPS
      - "8001:8001" # Admin API HTTP
      - "8444:8444" # Admin API HTTPS
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/kong/declarative/kong.yaml
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_LISTEN=0.0.0.0:8001, 0.0.0.0:8444 ssl
      - KONG_PROXY_LISTEN=0.0.0.0:8000, 0.0.0.0:8443 ssl
      - KONG_LOG_LEVEL=info
    networks:
      - backend
    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    volumes:
      - ./infra/gateway:/kong/declarative

  contracts:
    build:
      context: packages/local-node
      dockerfile: Dockerfile
    ports:
      - "8545:8545"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "test", "-f", "/tmp/anvil-ready"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  indexer:
    build:
      context: .
      dockerfile: infra/indexer/Dockerfile.indexer
    command:
      ["npm", "run", "start", "--", "--config", "config/ens.local.config.ts"]
    environment:
      - DAO_ID=ENS
      - NETWORK=anvil
      - RPC_URL=http://contracts:8545
      - CHAIN_ID=31337
      - PORT=42069
    depends_on:
      contracts:
        condition: service_healthy
    ports:
      - "42069:42069"
    networks:
      - backend

  indexer-db:
    image: postgres:16.2
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    networks:
      - backend

networks:
  backend:
