NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_ALCHEMY_KEY=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_SITE_URL=

# social media links
NEXT_PUBLIC_ANTICAPTURE_TELEGRAM_BOT=https://t.me/<your-telegram-username>
NEXT_PUBLIC_ANTICAPTURE_SLACK_BOT=https://<your-slack-server>/slack/

# resend API configuration for contact form
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
CONTACT_EMAIL=