[build]
builder = "DOCKERFILE"
dockerfilePath = "apps/aggregation/Dockerfile"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
